.order-summary {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .divider {
    height: 1px;
    background-color: #ccc;
    margin: 15px 0;
  }
  
  .row-item {
    margin: 10px 0;
    align-items: center;
  }
  
  .row-total {
    margin: 10px 0;
    align-items: center;
    font-weight: bold;
    background-color: #ebedef;
  }
  
  .opacity-05 {
    opacity: 0.5;
  }
  
  .next-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
  }
  
  .next-button:hover {
    background-color: #0056b3;
  }
  