.laundryitems-category-style {
  margin-bottom: 10px;
  border: 0.5px solid grey;
  border-radius: 10px;
  margin-right: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.laundryitems-category-style_active {
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid rgb(187, 70, 105);
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.laundry-items-list-style{
    padding-top: 20px;
    gap:10px ;
}
.laundry-items-item-style{
    border: 0.5px solid rgb(143, 103, 103);
    width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-block: 10px;
    margin-bottom: 20px;
}
.laundry-item-wrapper{
    padding-left: 30px;
}
.laundry-price-estimator{
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
}
.laundry-price-reset-button{
  border-radius: 30px;
 align-self: center;
 padding-inline: 10px;
 border: 0.5px solid lightgrey;
}
.laundry-price-line{
  height: 2px;
  width: 100%;
  background-color: white;
}
.laundry-price-calc-wrapper-view{
  font-weight: 600;
}
.laundry-items-next-button{
width: 100%;
margin-top: 20px;
}